<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" data-layout="./@@page-site-layout">
<body>
<div data-panel="content">
  <div class="mosaic-tile mosaic-castle.cms.fragment-tile">
    <div class="movable removable mosaic-tile mosaic-IDublinCore-effective-tile">
      <div class="mosaic-tile-content">
        <div data-tile="./@@plone.app.standardtiles.field?field=IDublinCore-effective&format=slash&className=date&tag=p"></div>
      </div>
    </div>
    <div class="movable removable mosaic-tile mosaic-IDublinCore-title-tile">
      <div class="mosaic-tile-content">
        <div data-tile="./@@plone.app.standardtiles.field?field=IDublinCore-title&tag=h2"></div>
      </div>
    </div>
    <div class="movable removable mosaic-tile mosaic-IDublinCore-description-tile">
      <div class="mosaic-tile-content">
        <div data-tile="./@@plone.app.standardtiles.field?field=IDublinCore-description&tag=h3"></div>
      </div>
    </div>
  </div>
  <div class="mosaic-grid-row" data-grid='{"type": "row"}'>
    <div class="mosaic-grid-cell mosaic-width-full mosaic-position-leftmost"
         data-grid='{"type": "cell", "info": {"pos": {"width": 12}}}'>
      <div class="mosaic-tile movable removable
                  mosaic-IRichText-text-tile mosaic-selected-tile">
        <div class="mosaic-tile-content">
          <div data-tile="./@@plone.app.standardtiles.field?field=IRichText-text"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="movable removable mosaic-tile mosaic-castle.cms.fragment-tile">
    <div class="mosaic-tile-content">
      <div data-tile="./@@castle.cms.fragment/fragment-1?fragment=sharing"></div>
    </div>
  </div>
</div>
</body>
</html>
