.DS_Store
.installed.cfg
.Python
.idea
.mr.developer.cfg
*.swp
*.egg-info/
*.pyc
/bin/
/develop-eggs/
/local/
/lib/
/dist/
/include/
/build/
/parts/
/var/
/eggs/
/share/
._*
castle/cms/static/plone-compiled.js
castle/cms/static/plone-logged-in-compiled.js
castle/cms/locales/en/LC_MESSAGES/plone.mo
pip-selfcheck.json
*.pyc
.python-version
.vscode/
Gruntfile.js
log.html
node_modules/
report.html
src/
zinstance/
packages/
pyvenv.cfg
buildout-copy.cfg
temp_resources/