[buildout]
extends = travis.cfg

extensions += 
    mr.developer
    buildout.eggtractor
    
auto-checkout =

[sources]
plone.app.mosaic = git git@github.com:castlecms/plone.app.mosaic.git branch=castlecms-5.0.x
collective.celery = git git@github.com:collective/collective.celery.git branch=master
collective.elasticsearch = git git@github.com:collective/collective.elasticsearch.git branch=2.x
collective.documentviewer = git git@github.com:collective/collective.documentviewer.git branch=master
castle.theme = git git@github.com:castlecms/castle.theme.git branch=master
collective.easyform = git git@github.com:collective/collective.easyform.git
plone.supermodel = git git@github.com:plone/plone.supermodel.git