include *.rst
include LICENSE
include Makefile
include *.md
include *.txt
include buildout.cfg
include travis.cfg
recursive-include castle *.bowerrc
recursive-include castle *.cfg
recursive-include castle *.cpt
recursive-include castle *.cpy
recursive-include castle *.css
recursive-include castle *.csslintrc
recursive-include castle *.eot
recursive-include castle *.gif
recursive-include castle *.html
recursive-include castle *.jpg
recursive-include castle *.js
recursive-include castle *.jscsrc
recursive-include castle *.jshintrc
recursive-include castle *.json
recursive-include castle *.less
recursive-include castle *.map
recursive-include castle *.md
recursive-include castle *.metadata
recursive-include castle *.png
recursive-include castle *.po
recursive-include castle *.pt
recursive-include castle *.py
recursive-include castle *.svg
recursive-include castle *.swf
recursive-include castle *.ttf
recursive-include castle *.txt
recursive-include castle *.woff
recursive-include castle *.woff2
recursive-include castle *.xap
recursive-include castle *.xml
recursive-include castle *.yml
recursive-include castle *.zcml
recursive-include castle Makefile
