@glyphicon-folder: "../../svg/glyphicons";

/* glyphicon overrides */
[class*="glyphicon-"]::before {
  width: 1em;
  height: 1em;
  margin: 0;
}

.glyphicon.glyphicon-th::before {
  content: url("@{glyphicon-folder}/th.svg");
}

.glyphicon.glyphicon-th-large::before {
  content: url("@{glyphicon-folder}/th-large.svg");
}

.glyphicon.glyphicon-list::before {
  content: url("@{glyphicon-folder}/list.svg");
}

.glyphicon.glyphicon-sort-by-attributes::before {
  content: url("@{glyphicon-folder}/sort-by-attributes.svg");
}

.glyphicon.glyphicon-scissors::before {
  content: url("@{glyphicon-folder}/scissors.svg");
  vertical-align: middle;
}

.glyphicon.glyphicon-copy::before {
  content: url("@{glyphicon-folder}/copy.svg");
}

.glyphicon.glyphicon-paste::before {
  content: url("@{glyphicon-folder}/paste.svg");
}

.glyphicon.glyphicon-trash::before {
  content: url("@{glyphicon-folder}/trash.svg");
}

.glyphicon.glyphicon-recycle::before {
  content: url("@{glyphicon-folder}/recycle.svg");
}

.glyphicon.glyphicon-trash-blue::before {
  content: url("@{glyphicon-folder}/trash-blue.svg");
}

.glyphicon.glyphicon-random::before {
  content: url("@{glyphicon-folder}/random.svg");
}

.glyphicon.glyphicon-tags::before {
  content: url("@{glyphicon-folder}/tags.svg");
}

.glyphicon.glyphicon-lock::before {
  content: url("@{glyphicon-folder}/lock.svg");
}

.glyphicon.glyphicon-edit::before {
  content: url("@{glyphicon-folder}/edit.svg");
}

.glyphicon.glyphicon-edit-blue::before {
  content: url("@{glyphicon-folder}/edit-blue.svg");
}

.glyphicon.glyphicon-search::before {
  content: url("@{glyphicon-folder}/search.svg");
}

.glyphicon.glyphicon-home::before {
  content: url("@{glyphicon-folder}/home.svg");
}

.glyphicon.glyphicon-new-window::before {
  content: url("@{glyphicon-folder}/new-window.svg");
}

.glyphicon.glyphicon-upload::before,
.glyphicon.glyphicon-eye-open::before,
.glyphicon.glyphicon-pencil::before,
.glyphicon.glyphicon-cog::before {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 0.9375em;
  vertical-align: top;
  content: '';
}

.glyphicon.glyphicon-cog::before {
  content: url("@{glyphicon-folder}/cog.svg");
}

.glyphicon.glyphicon-indent-left::before {
  content: url("@{glyphicon-folder}/indent-left.svg");
}

.glyphicon.glyphicon-ok:before {
  content: url("@{glyphicon-folder}/ok.svg");
}

.glyphicon.glyphicon-remove:before {
  content: url("@{glyphicon-folder}/remove.svg");
}

.glyphicon.glyphicon-upload::before {
  content: url("@{glyphicon-folder}/upload.svg") !important;
}

.select-upload-container:hover .glyphicon.glyphicon-upload::before {
  content: url("@{glyphicon-folder}/upload-hover.svg") !important;
}

.glyphicon.glyphicon-eye-open::before {
  content: url("@{glyphicon-folder}/eye-open.svg");
}

.glyphicon.glyphicon-pencil::before {
  content: url("@{glyphicon-folder}/pencil.svg");
}

/* do not use font icons for required dot */
label .required:after {
  content: "•";
}
