// Put in a default icon in case one is missing
[class^="icon-"]::before {
  content: url("../../svg/cog.svg");
}

a:hover [class^="icon-"]::before {
  content: url("../../svg/cog-hover.svg");
}

.pat-structure [class^="icon-"]::before {
  content: '';
}

.castle-btn-dropdown.opened ul [class^="icon-"]::before {
  content: '';
}

.icon-move-up::before {
  content: url("../../svg/icon-up.svg");
}

.icon-move-down::before {
  content: url("../../svg/icon-down.svg");
}

.icon-up::before {
  content: url("../../svg/up.svg");
  margin: 0px;
}

.scroll-btn.up:hover .icon-up::before {
  content: url("../../svg/up-hover.svg");
  margin: 0px;
}

.icon-down::before {
  content: url("../../svg/down.svg");
}

.scroll-btn.down:hover .icon-down::before {
  content: url("../../svg/down-hover.svg");
}

.icon-plone-contentmenu-actions::before {
  content: url("../../svg/contentmenu-actions.svg");
}

a:hover .icon-plone-contentmenu-actions::before {
  content: url("../../svg/contentmenu-actions-hover.svg");
}

.icon-plone-contentmenu-factories::before {
  content: url("../../svg/contentmenu-factories.svg");
}

a:hover .icon-plone-contentmenu-factories::before,
.active .icon-plone-contentmenu-factories::before {
  content: url("../../svg/contentmenu-factories-hover.svg");
}

.icon-folderContents::before {
  content: url("../../svg/icon-folderContents.svg");
}

a:hover .icon-folderContents::before,
.active .icon-folderContents::before {
  content: url("../../svg/icon-folderContents-hover.svg");
}

.icon-edit::before {
  content: url("../../svg/icon-edit.svg");
}

a:hover .icon-edit::before,
.active .icon-edit::before {
  content: url("../../svg/icon-edit-hover.svg");
}

.icon-design::before {
  content: url("../../svg/icon-design.svg");
}

a:hover .icon-design::before,
.active .icon-design::before {
  content: url("../../svg/icon-design-hover.svg");
}

.icon-view::before {
  content: url("../../svg/icon-view.svg");
}

a:hover .icon-view::before,
.active .icon-view::before {
  content: url("../../svg/icon-view-hover.svg");
}

.icon-history::before {
  content: url("../../svg/icon-history.svg");
}

a:hover .icon-history::before,
.active .icon-history::before {
  content: url("../../svg/icon-history-hover.svg");
}

.icon-local_roles::before {
  content: url("../../svg/icon-local_roles.svg");
}

a:hover .icon-local_roles::before,
a:active.icon-local_roles::before,
.active .icon-local_roles::before {
  content: url("../../svg/icon-local_roles-hover.svg");
}

.icon-user::before {
  content: url("../../svg/icon-user.svg");
}

a:hover .icon-user::before,
.icon-user:hover::before,
.active .icon-user::before {
  content: url("../../svg/icon-user-hover.svg");
}

.icon-plone-contentmenu-portletmanager::before {
  content: url("../../svg/icon-portletmanager.svg");
}

a:hover .icon-plone-contentmenu-portletmanager::before,
.active .icon-plone-contentmenu-portletmanager::before {
  content: url("../../svg/icon-portletmanager-hover.svg");
}

.icon-plone-contentmenu-workflow::before {
  content: none;
}

.state-published .icon-plone-contentmenu-workflow::before,
.state-external .icon-plone-contentmenu-workflow::before,
.state-published a:hover .icon-plone-contentmenu-workflow::before,
.state-external a:hover .icon-plone-contentmenu-workflow::before {
  content: url("../../svg/icon-plone-contentmenu-workflow-state-published.svg");
}

.state-private .icon-plone-contentmenu-workflow::before,
.state-private a:hover .icon-plone-contentmenu-workflow::before {
  content: url("../../svg/icon-plone-contentmenu-workflow-state-private.svg");
}

.state-pending .icon-plone-contentmenu-workflow::before,
.state-pending a:hover .icon-plone-contentmenu-workflow::before {
  content: url("../../svg/icon-plone-contentmenu-workflow-state-pending.svg");
}

.state-internally_published .icon-plone-contentmenu-workflow::before,
.state-internally_published a:hover .icon-plone-contentmenu-workflow::before {
  content: url("../../svg/icon-plone-contentmenu-workflow-state-internally_published.svg");
}

.state-draft .icon-plone-contentmenu-workflow::before,
.state-internal .icon-plone-contentmenu-workflow::before,
.state-draft a:hover .icon-plone-contentmenu-workflow::before,
.state-internal a:hover .icon-plone-contentmenu-workflow::before {
  content: url("../../svg/icon-plone-contentmenu-workflow-state-draft.svg");
}

.icon-syndication::before {
  content: url("../../svg/icon-syndication.svg");
}

a:hover .icon-syndication::before,
.active .icon-syndication::before {
  content: url("../../svg/icon-syndication-hover.svg");
}

.icon-logout::before,
a:hover .icon-logout::before,
.castle-btn-dropdown.opened ul .icon-logout::before {
  content: url("../../svg/icon-logout.svg");
}

.icon-aliases::before {
  content: url("../../svg/icon-aliases.svg");
}

a:hover .icon-aliases::before,
.active .icon-aliases::before {
  content: url("../../svg/icon-aliases-hover.svg");
}

.icon-cut::before {
  content: url("../../svg/icon-cut.svg");
}

a:hover .icon-cut::before,
.active .icon-cut::before {
  content: url("../../svg/icon-cut-hover.svg");
}

.icon-copy::before {
  content: url("../../svg/icon-copy.svg");
}

a:hover .icon-copy::before,
.active .icon-copy::before {
  content: url("../../svg/icon-copy-hover.svg");
}

.icon-cog::before {
  content: url("../../svg/cog.svg");
}

.icon-cog:hover:before,
.active .icon-cog::before {
  content: url("../../svg/cog-hover.svg");
}

.icon-trash::before,
.icon-delete::before {
  content: url("../../svg/icon-trash.svg");
}

a:hover .icon-trash::before,
a:hover .icon-delete::before,
.active .icon-delete::before {
  content: url("../../svg/icon-trash-hover.svg");
}

.icon-preview::before {
  content: url("../../svg/icon-preview.svg");
}

a:hover .icon-preview::before,
.active .icon-preview::before {
  content: url("../../svg/icon-preview-hover.svg");
}

.icon-analytics::before {
  content: url("../../svg/icon-analytics.svg");
}

a:hover .icon-analytics::before,
.active .icon-analytics::before {
  content: url("../../svg/icon-analytics-hover.svg");
}

.icon-quality::before {
  content: url("../../svg/icon-quality.svg");
}

a:hover .icon-quality::before,
.active .icon-quality::before {
  content: url("../../svg/icon-quality-hover.svg");
}

.icon-rename::before {
  content: url("../../svg/icon-rename.svg");
}

a:hover .icon-rename::before,
.active .icon-rename::before {
  content: url("../../svg/icon-rename-hover.svg");
}

.icon-remove::before {
  content: url("../../svg/icon-remove.svg");
}

.icon-remove:hover::before {
  content: url("../../svg/icon-remove-hover.svg");
}

.icon-ok::before {
  content: url("../../svg/icon-ok.svg");
}

.icon-ok:hover::before {
  content: url("../../svg/icon-ok-hover.svg");
}
